parameters:

   paths:
     - %currentWorkingDirectory%/src
#     - %currentWorkingDirectory%/tests/

   level: 8

   excludePaths:
       - src/LevelUpCommon/Infrastructure/Persistence/Migrations/
       - src/Common/Infrastructure/Export/Service/ExcelExportService.php
       - src/Common/Infrastructure/UserInterface/Web/Twig/CsrfLinkExtension.php
       - src/Common/Infrastructure/Persistence/Common/AbstractCommonRepository.php
       - src/Common/Application/AbstractEvent/EventPersister.php
       - src/StudiPruefung/Domain/Service/StudiPruefungErgebnisService.php
       # Folgende Dateien werden wegen Größe weggelassen (Performance, Demo-Daten)
       - src/Demo/Infrastructure/Persistence/PruefungenDemoData.php
       - src/Demo/Infrastructure/Persistence/MCFragenDemoData.php
       - src/Demo/Infrastructure/Persistence/EpasDemoData.php

   ignoreErrors:
   		- '#Parameter .* of function call_user_func expects callable.*#'
   		- '#Parameter .* expects string, int given#'
   		- '#Parameter .* expects int, string given#'
   		- '#Property .*::.*jsonData type has no value type specified in iterable type array.#'
   		- '#.*has parameter .demoDataClasses with no value type specified in iterable type iterable.#'

