<h1>Zu Studi werden</h1>
Bitte Zeile auswählen (Zähler und Letzte Zeichen des Studi-Hashs)
<br/>
Studis mit einem dritten Eintrag (Login-Hash, unten einsortiert) haben sich schon registriert.
<br/>
Die EPAs werden immer von einem selbst, nicht vom gewechselten Studi angezeigt. So kann man keine Dtaen überschreiben.
<br/>
<br/>
<table border="1">
    <tr>
        <td>#</td>
        <td><b>Studi-Hash</b></td>
        <td>Login-Hash</td>
    </tr>
    {% for count, studi in studis %}
        <tr>
            <td>{{ count }}</td>
            <td>
                <a href="?studiHash={{ studi.studiHash | url_encode }}">
                    {{ studi.studiHash|slice(55) }}
                </a>
            </td>

            <td>
                {% if studi.loginHash %}
                    {{ studi.loginHash|slice(55) }}
                {% else %}
                    (nicht registriert)
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>