<h1>Zu Studi werden</h1>
Bitte Zeile ausw채hlen (Z채hler und Letzte Zeichen des Studi-Hashs)
<br/>
Studis mit einem dritten Eintrag (Login-Hash) haben sich schon regstriert. Hier muss man beachten,
dass man entsprechend die EPAs vom User 채ndern, kaputt machen d체rfte!
<br/>
Also im Zweifelsfall lieber jemand anders nehmen...
<br/>
<br/>
<table border="1">
    <tr>
        <td>#</td>
        <td><b>Studi-Hash</b></td>
        <td>Login-Hash</td>
    </tr>
    {% for count, studi in studis %}
        <tr>
            <td>{{ count }}</td>
            <td>
                <a href="?studiHash={{ studi.studiHash | url_encode }}">
                    {{ studi.studiHash|slice(55) }}
                </a>
            </td>

            <td>
                {% if studi.loginHash %}
                    {{ studi.loginHash|slice(55) }}
                {% else %}
                    (nicht registriert)
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>