<h1>Zu Studi werden</h1>
Bitte Zeile ausw채hlen (Z채hler und Letzte Zeichen des Studi-Hashs)
<br/>
Studis mit einem dritten Eintrag (Login-Hash) haben sich schon regstriert. Hier muss man beachten,
dass man entsprechend die EPAs vom User 채ndern, kaputt machen d체rfte!
<br/>
Also im Zweifelsfall lieber jemand anders nehmen...
<br/>
<br/>
{% for count, studi in studis %}
    <a href="?studiHash={{ studi.studiHash | url_encode }}">
        {{ count}}: {{ studi.studiHash|slice(55) }}
        {% if studi.loginHash %}
            {{ studi.loginHash|slice(55) }}
        {% else %}
            (nicht registriert)
        {% endif %}
    </a>
    <br/>
{% endfor %}